<div id="<%= anchor.dom_id %>_form" data-comment-form hidden class="bg-white border border-gray-200 rounded-lg shadow-sm p-3">
  <%= render "comments/form", candidate: @candidate, parent: nil, anchor: anchor %>
</div>
