<% input = expanded ? endpoint.input.expand : endpoint.input %>
<% output = expanded ? endpoint.output.expand : endpoint.output %>
<% input_diff = input.to_diff(:no_change) %>
<% output_diff = output.to_diff(:no_change) %>
<div class="endpoint-container added" id="endpoint-<%= endpoint.page_url %>">
  <div class="endpoint-name-container">
    <div class="endpoint-name-placeholder"></div>
    <div class="endpoint-name added">
      <%= endpoint.name %>
      <% if endpoint.input.expandable? || endpoint.output.expandable? %>
        <% if expanded %>
          <button type="button" data-action="endpoint#collapse">Collapse</button>
        <% else %>
          <button type="button" data-action="endpoint#expand">Expand</button>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section-placeholder"></div>
    <div class="endpoint-section">INPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root-placeholder">
    </div>
    <div class="endpoint-root">
      <%= render "specs/json", diff: input_diff %>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section-placeholder"></div>
    <div class="endpoint-section">OUTPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root-placeholder">
    </div>
    <div class="endpoint-root">
      <%= render "specs/json", diff: output_diff %>
    </div>
  </div>
</div>
