<div class="projects-view">
    <% @projects.each do |project| %>
      <div class="project-card">
        <header><%= project.name %></header>
        <div class="section">
          <%= link_to "Create new version", new_project_version_path(project_id: project.id) %>
        </div>
        <div class="section">Recent versions:</div>
        <% project.versions.order({ order: "DESC" }).each do |version| %>
          <div class="version">
            <%= link_to version.name, project_version_path(id: version.id, project_id: project.id) %>
            <span class="date"><%= version.created_at.strftime("%Y-%m-%d") %></span>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
