<div class="projects-view">
  <div class="flex-container">
    <% @projects.each do |project| %>
      <div class="project-card">
        <header><%= project.name %></header>
        <% project.versions.each do |version| %>
          <div>
            <%= link_to version.name, project_version_path(id: version.id, project_id: project.id) %>
            <span class="date"><%= version.created_at %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
