<div>
  <% lines.each_with_index do |line, i| %>
    <% if i > 0 %><div class="border-t border-gray-200"></div><% end %>
    <% resp_anchor = CommentAnchor.new(scope: "response", part: "whole", endpoint_path: endpoint.path, endpoint_http_verb: Endpoint.http_verbs[endpoint.http_verb], response_code: line.code) %>
    <%= render "endpoints/response_cell", line: line, side: side, curl_verb: local_assigns[:curl_verb], curl_path: local_assigns[:curl_path], region_attr: comment_region_attr(resp_anchor) %>
    <%= render "comments/anchor_region",
          anchor: resp_anchor,
          threads: comment_threads_for("response", endpoint: endpoint, response_code: line.code),
          wrapper_class: "" %>
  <% end %>
</div>
