<div>
  <% lines.each_with_index do |line, i| %>
    <% if i > 0 %><div class="border-t border-gray-200"></div><% end %>
    <% resp_anchor = CommentAnchor.new(scope: "response", part: "whole", endpoint_path: endpoint.path, endpoint_http_verb: Endpoint.http_verbs[endpoint.http_verb], response_code: line.code) %>
    <% resp_record = endpoint.responses.find { |r| r.code == line.code } %>
    <% resp_line_comments = partition_line_comments(response_output_comments(endpoint, line.code), resp_record&.output, expanded: expanded) %>
    <% resp_map = side == :after ? response_line_index_map(nil, endpoint, line.code, expanded: expanded) : nil %>
    <%= render "endpoints/response_cell", line: line, side: side, curl_verb: local_assigns[:curl_verb], curl_path: local_assigns[:curl_path], region_attr: comment_region_attr(resp_anchor), comments_by_line: resp_line_comments[:inline], line_index_map: resp_map, line_pick_attr: response_line_pick_attr(endpoint, line.code, resp_map) %>
    <%= render "comments/anchor_region",
          anchor: resp_anchor,
          threads: comment_threads_for("response", endpoint: endpoint, response_code: line.code),
          wrapper_class: "" %>
    <%= render "comments/line_threads", anchor: CommentAnchor.for_response_output(endpoint, line.code), collapsed: resp_line_comments[:collapsed], outdated: resp_line_comments[:outdated], composable: !resp_map.nil?, expanded: expanded, wrapper_class: "" %>
  <% end %>
</div>
