<div class="endpoint-container" id="<%= endpoint.page_url %>">
  <div class="endpoint-name-container">
    <div class="endpoint-name-placeholder"></div>
    <div class="endpoint-name added">
      <%= endpoint.name %>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section-placeholder"></div>
    <div class="endpoint-section">INPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root-placeholder">
    </div>
    <div class="endpoint-root">
      <%= render "spec", diff: input_diff %>
    </div>
  </div>

  <div class="endpoint-section-container">
    <div class="endpoint-section-placeholder"></div>
    <div class="endpoint-section">OUTPUT</div>
  </div>

  <div class="endpoint-root-container">
    <div class="endpoint-root-placeholder">
    </div>
    <div class="endpoint-root">
      <%= render "spec", diff: output_diff %>
    </div>
  </div>
</div>
