<div class="endpoint-name-container">
  <div class="endpoint-name removed" id="<%= endpoint.page_url %>">
    <%= endpoint.name %>
  </div>
  <div class="endpoint-name-placeholder"></div>
</div>

<div class="endpoint-section-container">
  <div class="endpoint-section">INPUT</div>
  <div class="endpoint-section-placeholder"></div>
</div>

<div class="endpoint-section-container">
  <div class="endpoint-section">OUTPUT</div>
  <div class="endpoint-section-placeholder"></div>
</div>

<div class="endpoint-root-container">
  </div>
  <div class="endpoint-root">
    <% diff.each do |diff_line| %>
      <div class="line <%= diff_line.change %>"><%= diff_line.line %></div>
    <% end %>
  </div>
<div class="endpoint-root-placeholder">
</div>

<div class="endpoint-section-container">
  <div class="endpoint-section">ERRORS</div>
  <div class="endpoint-section-placeholder"></div>
</div>
