<% if value.kind_of?(PrimitiveNode) %>
  <span data-controller="value" data-value-target="span" data-value="<%= value.kind %>">
    <%= select_tag "value", options_for_select(%w[string number object], value.kind), { "data-action": "value#change root#update", id: nil, name: nil } %>
  </span>
<% elsif value.kind_of?(ObjectNode) %>
  <span data-controller="value" data-value-target="span" data-value="object">
    <%= select_tag "value", options_for_select(%w[string number object], "object"), { "data-action": "value#change root#update", id: nil, name: nil } %>
  </span>
  <%= render "endpoint_form_object", object: value %>
<% end %>