<div class="new-version-form-container">
  <table class="new-version-form">
    <thead>
    <tr>
      <th>
        <%= select_tag :http_verb, options_for_select({ "GET": "verb_get", "POST": "verb_post", "DELETE": "verb_delete", "PATCH": "verb_patch", "PUT": "verb_put" }, endpoint.http_verb), { id: nil, name: "version[endpoints_attributes][][http_verb]" } %>
        <%= f.text_field :url, value: endpoint.url, name: "version[endpoints_attributes][][url]" %>
        <button type="button" data-action="endpoint#remove">x</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div data-controller="root">
          <%= f.hidden_field :endpoint_root, value: "", "data-root-target": "endpointRoot", name: "version[endpoints_attributes][][original_endpoint_root]" %>
          <%= render "endpoint_form_object", object: endpoint.endpoint_root %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
