<div class="lines-container">
  <table class="lines">
    <thead>
    <tr>
      <th><%= endpoint_name %></th>
    </tr>
    </thead>
    <tbody>
      <tr><td><%= render "endpoint_form_object", object: root %></td></tr>
    </tbody>
  </table>
</div>
