<div class="entity-container added" id="entity-<%= entity.name %>">
  <div class="entity-name-container">
    <div class="entity-name-placeholder"></div>
    <div class="entity-name added">
      <%= entity.name %>
    </div>
  </div>

  <div class="entity-root-container">
    <div class="entity-root-placeholder">
    </div>
    <div class="entity-root">
      <%= render "specs/json", diff: diff %>
    </div>
  </div>

  <div class="entity-root-container">
    <div class="entity-root-placeholder">
    </div>
    <div class="entity-root">
      <div class="spec"><%= entity.root.serialize %></div>
    </div>
  </div>
</div>
