<div class="entity-container" id="entity-<%= entity.name %>">
  <div class="entity-name-container">
    <div class="entity-name">
      <%= entity.name %>
    </div>
  </div>

  <div class="entity-root-container">
    <div class="entity-root">
      <%= render "spec", diff: diff.before %>
    </div>
    <div class="entity-root">
      <%= render "spec", diff: diff.after %>
    </div>
  </div>
</div>