<div class="entity-container removed" id="entity-<%= entity.name %>">
  <div class="entity-name-container">
    <div class="entity-name removed">
      <%= entity.name %>
    </div>
    <div class="entity-name-placeholder"></div>
  </div>

  <div class="entity-root-container">
    <div class="entity-root">
      <%= render "spec", diff: diff %>
    </div>
  <div class="entity-root-placeholder">
  </div>
  </div>
</div>
