<h1><%= "#{@version.project.name}-#{@version.name}" %></h1>

<div class="flex-container">

  <% @version.endpoints.each do |endpoint| %>
    <div class="card">
      <header><%= "#{endpoint.verb} #{endpoint.url}" %></header>
      <div class="card-body">
        <pre><%= endpoint.endpoint_root.print(0) %></pre>
      </div>
    </div>
  <% end %>

</div>

<%= link_to "Back", projects_path %>