.projects-view {
    .project-card {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding: 10px;
        margin: 10px 0;
        background: beige;
        border-radius: 5px;

        header {
            font-size: 24px;
            font-weight: 800;
            padding: 5px 0;
        }

        .project-body {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
            align-items: flex-start;

            .section {
                font-size: 20px;
                font-weight: 800;
                border: 1px solid black;
                padding: 10px;
            }

            .version {
                padding-top: 2px;

                .date {
                    font-size: 16px;
                }
            }
        }
    }
}
