.version-view {
    table.layout {
        width: 100%;

        th {
            background: white;
            font-size: 26px;

            &.previous, &.current {
                width: 40%;
            }

            &.next {
                width: 20%;
            }

            .date {
                font-size: 16px;
            }
        }

        td {
            vertical-align: top;

            &.removed-endpoint {
                background: red;
            }
        }
    }

    .lines-container {
        padding: 0 0 10px 0;

        table.lines {
            width: 100%;
            padding: 0 0 10px 0;

            th {
                font-size: 18px;
                background: aquamarine;
                text-align: left;
            }

            tbody {
                background: azure;
                font-family: monospace;
                white-space: pre;

                tr {
                    height: 15px;

                    td {
                        padding: 0;
                    }

                    &.added {
                        background: #D1FFBD;
                    }

                    &.removed {
                        background: lightpink;
                    }

                    &.type_changed {
                        background: sandybrown;
                    }

                    &.no_change {
                        background: white;
                    }

                    span {
                        padding: 1px;
                        margin: 1px;
                        &.number {
                            background: lawngreen;
                        }
                        &.boolean {
                            background: cornflowerblue;
                        }
                        &.string {
                            background: red;
                        }
                    }
                }
            }
        }
    }

    .new-version-form-container {
        padding: 0 0 10px 0;

        table.new-version-form {
            width: 100%;
            padding: 0 0 10px 0;

            th {
                font-size: 18px;
                background: aquamarine;
                text-align: left;
            }

            tbody {
                font-family: monospace;
                white-space: normal;

                tr {
                    height: 15px;

                    td {
                        padding: 0;
                    }

                    &.added {
                        background: #D1FFBD;
                    }

                    &.removed {
                        background: lightpink;
                    }

                    &.type_changed {
                        background: sandybrown;
                    }

                    &.no_change {
                        background: white;
                    }
                }

                & .endpoint_form_object {
                    white-space: normal;

                    & span[data-value="string"] {
                        & select {
                            background: red;
                        }
                    }

                    & span[data-value="number"] {
                        & select {
                            background: lawngreen;
                        }
                    }

                    & span[data-value="object"] {
                        & select {
                            background: sandybrown;
                        }
                    }

                    & span[data-value="boolean"] {
                        & select {
                            background: cornflowerblue;
                        }
                    }

                    & .endpoint_form_object_attribute {
                        padding-left: 20px;
                    }

                    & .endpoint_form_object_new_attribute {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}
