.version-view {
    table.layout {
        width: 100%;

        th {
            background: aquamarine;

            &.previous, &.current {
                width: 45%;
            }

            &.next {
                width: 10%;
            }
        }
    }

    table.lines {
        padding: 2px;
        width: 100%;

        thead {
            background: aquamarine;
            text-align: left;
        }

        tbody {
            font-family: monospace;
            white-space: pre;

            tr {
                height: 15px;

                td {
                    padding: 0;
                }

                &.added {
                    background: greenyellow;
                }

                &.removed {
                    background: lightpink;
                }

                &.type_changed {
                    background: sandybrown;
                }

                &.no_change {
                    background: white;
                }
            }
        }
    }
}
