.version-view {
    table.layout {
        width: 100%;

        th {
            background: white;
            font-size: 26px;

            &.previous, &.current {
                width: 40%;
            }

            &.next {
                width: 20%;
            }

            .date {
                font-size: 16px;
            }
        }

        td {
            vertical-align: top;
        }
    }

    .lines-container {
        padding: 0 0 10px 0;

        table.lines {
            width: 100%;
            padding: 0 0 10px 0;

            th {
                font-size: 18px;
                background: aquamarine;
                text-align: left;
            }

            tbody {
                background: azure;
                font-family: monospace;
                white-space: pre;

                tr {
                    height: 15px;

                    td {
                        padding: 0;
                    }

                    &.added {
                        background: greenyellow;
                    }

                    &.removed {
                        background: lightpink;
                    }

                    &.type_changed {
                        background: sandybrown;
                    }

                    &.no_change {
                        background: white;
                    }
                }

                & .endpoint_form_object {
                    white-space: normal;

                    & span[data-value="string"] {
                        background: red;

                        & select {
                            background: red;
                        }
                    }

                    & span[data-value="number"] {
                        background: cornflowerblue;

                        & select {
                            background: cornflowerblue;
                        }
                    }

                    & span[data-value="object"] {
                        background: sandybrown;

                        & select {
                            background: sandybrown;
                        }
                    }

                    & .endpoint_form_object_attribute {
                        padding-left: 20px;
                    }

                    & .endpoint_form_object_new_attribute {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}
